<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Valentines Day</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../style.css">

</head>
<body>
<div id="chatBody">
  <!-- partial:index.partial.html -->
  <img src="../images/scrolling.png">
  <div id="chat">
  <!--insert new-->
  </div>
  <div id="anchor"></div>
<script id="chat-thread" type="x-template">
	<div v-if="window.devicePixelRatio === 1">
		<br/>
		<ChatMessage
			v-for="message in messages"
			ref="chatMessages"
			:message="message.text"
			:remote="message.remote"
      		:chatter="message.chatter"
      		:consecutive="message.consecutive"
      />
	</div>
	<div v-else style="margin: 20px; color: white">
		<h1>Oops, my bad...</h1>
		<p>
			Your <code>window.devicePixelRatio</code> does not equal <code>1</code>. This means that the ratio between physical pixels and logical pixels don't have a 1-to-1 correspondence on your display device. I have yet to (and probably never will) implement pixel scaling for these ratios. If you're on a mobile device, try viewing this on a desktop computer; but not on a Retina or HiDPI display.
		</p>
		<p>- ナッティ (nutty7t)</p>
	</div>
</script>

<script id="chat-message" type="x-template">
	<svg xmlns="http://www.w3.org/2000/svg" :viewBox="`0 0 500 ${viewBoxHeight}`" :style="style">
		<!--
			HACK: This invisible <text> element is used to figure out
			the bounding box of a line of text without it being painted.
		-->
		<text
			ref="hackText"
			visibility="hidden"
			:style="{ fontSize: fontSize + 'px' }">{{ hackText }}</text>

		<!-- Buddy Avatar -->
    <a v-if="newChatter">
  		<polygon
  			v-if="remote"
  			points="-10,-5 62,5 70,55 5,63"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			style="fill: black"/>

  		<polygon
  			v-if="remote"
  			points="0,0 60,10 70,50 10,60"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			style="fill: white"/>

  		<clipPath id="avatarClipPath">
      	<polygon points="2,-10 62,-10 100,42 10,58"/>
    	</clipPath>

      <!-- absolute dogshit workaround -->
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-if="chatter == 'Akechi'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Akechi.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Ann'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Ann.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Futaba'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Futaba.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
      <image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Haru'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Haru.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Hifumi'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Hifumi.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Kasumi'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Kasumi.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Makoto'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Thing.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Ryuji'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Ryuji.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Sumire'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Sumire.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
  		<image
  			clip-path="url(#avatarClipPath)"
  			v-else-if="chatter == 'Yuskue'"
  			x="-10"
  			y="-10"
  			xlink:href="..\images\Yuskue.png"
  			:transform="`translate(30,${containerHeight / 2 + messageBox.origin.y - 25})`"
  			width="80px"
      />
    </a>

		<!-- Message Text Container Border -->
		<polygon
			:points="containerBorderPoints"
			:style="{ fill: primaryColor }"
			:class="{ flipX: !remote }"/>

		<!-- Message Text Container Tail Border -->
		<polygon
			:points="containerTailBorderPoints"
			:style="{ fill: primaryColor }"
			:class="{ flipX: !remote }"/>

		<!-- Message Text Container Tail -->
		<polygon
			:points="containerTailPoints"
			:style="{ fill: secondaryColor }"
			:class="{ flipX: !remote }"/>

		<!-- Message Text Container -->
		<polygon
			:points="containerPoints"
			:style="{ fill: secondaryColor }"
			:class="{ flipX: !remote }"/>

		<!-- Message Text -->
		<text :y="textOffset.y" :style="{ fontSize: fontSize + 'px' }">
			<tspan
				v-for="line of wrappedMessage"
				:x="remote ? messageBox.origin.x + textOffset.x : 500 - messageBox.origin.x - messageBox.centerWidth"
				:dy="`${lineHeight}em`"
				:style="{ fill: primaryColor }">
				{{ line.text }}
			</tspan>
		</text>
	</svg>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://unpkg.com/vue-async-computed@3.7.0'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js'></script><script  src="./script.js"></script>
</div>
</body>
</html>
